title {
  font-family: "Raleway", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h1,
h3,
h3,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

:root {
  --title-color: #2e2f42;
  --accent-color:;
  --main-text-color:;
  --second-text-color:;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/**----------------Header-----------------*/
.header-cont {
  display: flex;
  flex-grow: 1;
  font-style: normal;
  gap: 40px;
  
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
}


.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc
}
.header-container {
display: flex;
margin-left: auto;

}

.header-menu {
  display: flex;
  margin-left: 76px;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
  
}

.header-contakt {
  display: flex;
  align-items: center;
  gap: 40px;

  margin-right: 40px;
  margin-left: 0;
  padding: 24px 0;
  
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
}
.header-navigat {
  display: flex;
  align-items: center;
  
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
 
}
.header-cont-link {
  font-style: normal;a
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
.header-cont-link:hover,
.header-cont-link:focus {
  color: #404bbf;
}

.hero {

}

.hero-container {
background-color: #2e2f42;


padding: 188px 0 188px;
padding-top: 188px;
padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  
  
  
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid transparent;
    border: 1px solid transparent;
  }
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: #404bbf;
  color: #ffffff;
  }

.title-list-item {
  

}

.title-list {
  
  display: flex;

  
  
}
.title-list-subtitle {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: calc((100% - 72px) / 4);
  
}
.item-doing {
display: flex;
gap: 24px;
}
.team {
  display: flex;
  gap: 24px;
}

.item-team {
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #f4f4fd;
  
}
.title-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
  text-align: center;
  
}
.fon {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.container-team {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 120px 0;
  padding: 32px 16px;
  
}
.footer {
  line-height: 1.5;
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
